<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>resolutionData</key>
	<dict>
		<key>sheetClusters</key>
		<dict>
			<key>README.md</key>
			<dict>
				<key>lastModification</key>
				<real>539247441.218225</real>
				<key>version</key>
				<dict>
					<key>e66b3155818013c1c0cf4f7d4f9d575cf49af30820e6c839ff972805a189d04c</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>esprit - 2.md</key>
			<dict>
				<key>lastModification</key>
				<real>539247441.21822298</real>
				<key>version</key>
				<dict>
					<key>e66b3155818013c1c0cf4f7d4f9d575cf49af30820e6c839ff972805a189d04c</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>esprit.md</key>
			<dict>
				<key>lastModification</key>
				<real>539247441.218225</real>
				<key>version</key>
				<dict>
					<key>e66b3155818013c1c0cf4f7d4f9d575cf49af30820e6c839ff972805a189d04c</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>exam1.markdown</key>
			<dict>
				<key>lastModification</key>
				<real>539247441.218225</real>
				<key>version</key>
				<dict>
					<key>e66b3155818013c1c0cf4f7d4f9d575cf49af30820e6c839ff972805a189d04c</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>exam1.md</key>
			<dict>
				<key>lastModification</key>
				<real>539247441.218225</real>
				<key>version</key>
				<dict>
					<key>e66b3155818013c1c0cf4f7d4f9d575cf49af30820e6c839ff972805a189d04c</key>
					<integer>2</integer>
				</dict>
			</dict>
		</dict>
	</dict>
	<key>sheetClusters</key>
	<array>
		<array>
			<string>esprit - 2.md</string>
		</array>
		<array>
			<string>esprit.md</string>
		</array>
		<array>
			<string>README.md</string>
		</array>
		<array>
			<string>exam1.md</string>
		</array>
		<array>
			<string>exam1.markdown</string>
		</array>
	</array>
	<key>storeFormatVersion</key>
	<integer>1</integer>
	<key>versioning</key>
	<dict>
		<key>sheetClusters</key>
		<dict>
			<key>e66b3155818013c1c0cf4f7d4f9d575cf49af30820e6c839ff972805a189d04c</key>
			<integer>2</integer>
		</dict>
	</dict>
</dict>
</plist>
